body{
    background-color: yellow;
    font: 20px "Trebuchet MS";
}
h1 {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 24px;
    color: darkred;
    text-align: center;
}
p{
    text-align: center;
}
